.dem{
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
}
.re{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 250px;
    margin-top: 20px;
    padding-left: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.ic{
    margin-top: 10px;
    color: blue;
    font-size: 40px;
}
.rr{
    color: gold;
    margin-top: 10px;
}
.l{
    margin-left: 46%;
    width: 150px;
    height: 40px;
    color: white;
    background-color: blue;
}